img{ \n\
width:320px; \n\
} \n\
li{ \n\
list-style-type : none; \n\
margin:0; \n\
padding:0;  \n\
} \n\
ul {\n\
margin:0; \n\
padding:0;  \n\
}\n\
body { \n\
margin:0; \n\
padding:0;  \n\
}\n\
</style></head>%@<body>%@</body></html>"